<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailbox</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li class="nav-item">
                <a href="index.html"><span>Home</span></a>
            </li>
            <li class="nav-item">
                <a href="notification.html"><span>Notifications</span></a>
            </li>
            <li class="nav-item">
                <a href="#profile"><span>Profile</span></a>
            </li>
        </ul>
    </div>
    <div class="container">
        <h1>My Mailbox</h1>
        <div class="status">
          <div class="mailbox">
            <div class="fill-level"></div>
        </div>
            <div id="mailbox-info">
                <p>Loading...</p>
            </div>
        </div>
        <h2>Latest Notifications</h2>
        <div id="mailList" class="mail-list">
           
        </div>
        <button onclick="emptyMailbox()">Empty Mailbox</button>
    </div>
    <script src="scriptFrontend.js"></script>
</body>
</html>